html, body {
  position: relative;
  height: 100%;
  margin: 0;
}

.container {
}

.content-container {
  overflow-y: scroll;
  width:inherit;
  overflow-x: hidden;
}

.page-container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: whitesmoke;
  width: inherit;
}

.book-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.form-group.success input{
  border-color: green;
}

.form-group.error input{
  border-color: red;
}

.form-group .error{
  color: red;
  font-size: small;
}