html, body {
  position: relative;
  height: 100%;
  margin-left: 10px;
  margin-right: 30px;
  background-color: black;
  font-family: 'Belleza', sans-serif;

}

h4 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.btn {
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: grey;
  color: white;
}

.checked {
  color: orange;
}

.section5{
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.content-container {
  height: 900px;
  overflow-y: scroll;
  width:inherit;
  overflow-x: hidden;
  resize: both;
  color: white;
}

.page-container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  width: inherit;
}

.book-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.form-group.success input{
  border-color: green;
}

.form-group.error input{
  border-color: red;
}

.form-group .error{
  color: red;
  font-size: small;
}
